#include "PasswordDialogRes.h"
#include "PasswordBookDialogRes.h"
#include "../../GuiCommon.rc"

#ifdef UNDER_CE
#define xc 140
#else
#define xc 280
#endif
#define yc 82

IDD_PASSWORD  DIALOG  0, 0, xs, ys  MY_MODAL_DIALOG_STYLE  MY_FONT
CAPTION "Enter password"
BEGIN
  LTEXT    "&Enter password:", IDT_PASSWORD_ENTER, m, m, xc, 8
  EDITTEXT  IDE_PASSWORD_PASSWORD, m, 20, xc - 85, 14, ES_PASSWORD | ES_AUTOHSCROLL
  PUSHBUTTON "Password Book...", IDB_PASSWORD_BOOK, xc - 73, 20, 73, 14
  CONTROL  "&Show password", IDX_PASSWORD_SHOW, MY_CHECKBOX, m, 42, 90, 10
  LTEXT    "(Format: One password per line)", IDT_PASSWORD_FORMAT_HINT, 100, 42, 120, 10
  OK_CANCEL
END
