#include "WebDAVSettingsDialogRes.h"
#include "../../GuiCommon.rc"

#define xc 320
#define yc 220

IDD_WEBDAV_SETTINGS DIALOG 0, 0, xs, ys MY_MODAL_DIALOG_STYLE MY_FONT
CAPTION L"WebDAV\x5907\x4EFD\x8BBE\x7F6E"
BEGIN
  LTEXT      L"\x7F51\x76D8\x7C7B\x578B:", IDT_WEBDAV_PROVIDER, m, m, 58, 10
  COMBOBOX   IDC_WEBDAV_PROVIDER, m + 60, m - 2, xc - 60, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

  LTEXT      L"URL:", IDT_WEBDAV_URL, m, m + 20, 58, 10
  EDITTEXT   IDE_WEBDAV_URL, m + 60, m + 18, xc - 60, 14, ES_AUTOHSCROLL

  LTEXT      L"\x7528\x6237\x540D:", IDT_WEBDAV_USERNAME, m, m + 40, 58, 10
  EDITTEXT   IDE_WEBDAV_USERNAME, m + 60, m + 38, xc - 60, 14, ES_AUTOHSCROLL

  LTEXT      L"\x5BC6\x7801:", IDT_WEBDAV_PASSWORD, m, m + 60, 58, 10
  EDITTEXT   IDE_WEBDAV_PASSWORD, m + 60, m + 58, xc - 60, 14, ES_PASSWORD | ES_AUTOHSCROLL

  LTEXT      L"\x57FA\x7840\x8DEF\x5F84:", IDT_WEBDAV_BASEPATH, m, m + 80, 58, 10
  EDITTEXT   IDE_WEBDAV_BASEPATH, m + 60, m + 78, xc - 60, 14, ES_AUTOHSCROLL

  CONTROL    L"\x542F\x7528\x81EA\x52A8\x5907\x4EFD", IDX_WEBDAV_AUTO_ENABLE, MY_CHECKBOX, m, m + 100, xc, 10

  LTEXT      L"\x5EF6\x8FDF(\x79D2):", IDT_WEBDAV_DELAY, m, m + 120, 58, 10
  EDITTEXT   IDE_WEBDAV_DELAY, m + 60, m + 118, 55, 14, ES_AUTOHSCROLL

  LTEXT      L"\x8D85\x65F6(\x79D2):", IDT_WEBDAV_TIMEOUT, m + 130, m + 120, 60, 10
  EDITTEXT   IDE_WEBDAV_TIMEOUT, m + 195, m + 118, 55, 14, ES_AUTOHSCROLL

  LTEXT      L"\x52A0\x5BC6\x5BC6\x7801:", IDT_WEBDAV_ENCRYPT_PASSWORD, m, m + 140, 80, 10
  EDITTEXT   IDE_WEBDAV_ENCRYPT_PASSWORD, m + 85, m + 138, xc - 85, 14, ES_PASSWORD | ES_AUTOHSCROLL

  OK_CANCEL
END
