#include "resource_webdav.h"
#include <windows.h>

IDD_WEBDAV_SETTINGS DIALOGEX 0, 0, 300, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WebDAV 设置"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT       "服务器:", -1, 10, 10, 50, 12
    EDITTEXT    IDC_WEBDAV_URL, 70, 8, 200, 14, ES_AUTOHSCROLL
    
    LTEXT       "用户名:", -1, 10, 30, 50, 12
    EDITTEXT    IDC_WEBDAV_USERNAME, 70, 28, 200, 14, ES_AUTOHSCROLL

    LTEXT       "密码:", -1, 10, 50, 50, 12
    EDITTEXT    IDC_WEBDAV_PASSWORD, 70, 48, 200, 14, ES_PASSWORD | ES_AUTOHSCROLL
    
    PUSHBUTTON  "测试连接", IDC_WEBDAV_TEST, 220, 68, 50, 14

    AUTOCHECKBOX "开启自动备份", IDC_WEBDAV_AUTO, 10, 90, 100, 12
    
    DEFPUSHBUTTON "确定", IDOK, 190, 180, 50, 14
    PUSHBUTTON  "取消", IDCANCEL, 245, 180, 50, 14
END